name: Build/Test

on: [push, pull_request]

# Test on latest Python using Windows, Linux and Mac

jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                os: [windows-latest, ubuntu-latest, macos-latest]
                python-version: ["3.11"]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v1
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v1
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install poetry
              run: pip install poetry
            - name: Install dev dependencies
              run: poetry install
            - name: Run verifications
              uses: pre-commit/action@v2.0.3
              env:
                  PYTHONUTF8: 1
